@use '../global' as *;

.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: $bg-ivory02;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $accent-green;
    opacity: .4;
  }
}

.header__inner {
  padding: 0 15px 4px;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center start;
  box-sizing: border-box;
}

.header__title {
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  line-height: 1.5;
  font-family: $noto;
  font-weight: 600;
  color: $accent-green;
}
